* {
  box-sizing: border-box;
}
body {
  position: relative;
}
article {
  border-radius: 0.5rem;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: yellow;
  height: 50vh;
  width: 50vw;
}

article button {
  padding: 0.5rem;
  margin: 1rem;
  border: 3px solid #414141;
  cursor: pointer;
}
